body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
}
.header {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 300px;
    background-size: cover;
}
.header h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3em;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.content {
    width: 50%; /* Ширина контейнера 50% */
    margin: 0 auto; /* Центрирование */
    padding: 20px;
    text-align: justify;
}
.content p {
    font-size: 1.2em;
    text-align: justify;
}
.content a {
    color: blue;
    text-decoration: none;
    /* margin: 0 10px; */
}
.content a:hover {
    text-decoration: underline;
}

/* Стили для галереи изображений */
.gallery {
    display: flex;
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
    justify-content: space-between; /* Разделяет элементы по ширине */
    width: 80%; /* Устанавливает ширину контейнера галереи */
    margin: 20px auto; /* Центрирование галереи */
    padding-bottom: 70px;
}

.gallery img {
    width: 48%; /* Устанавливает ширину изображений в 48% для двух в строке */
    margin-bottom: 20px; /* Отступ между строками */
    border: 2px solid #ccc; /* Добавляет рамку вокруг изображений */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легкая тень для объема */
}

.gallery img:hover {
    transform: scale(1.05); /* Увеличение изображения при наведении */
    transition: transform 0.3s ease;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 80px;
	background: linear-gradient(180deg, #228b22, white);
  font-family: Poppins, sans-serif;
	color: white;
  text-align: center;
  padding: 15px;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .header {
        height: 30vh;
    }
    .content {
        width: 90%;
    }
}

<img
  src="images/image-1200.jpg"
  srcset="images/image-600.jpg 600w,
          images/image-800.jpg 800w,
          images/image-1200.jpg 1200w"
  sizes="(max-width: 600px) 100vw, (max-width: 1200px) 50vw, 1200px"
  alt="image_description">
